/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

    nav {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+45,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #207cca 45%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 45%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#207cca 45%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }
    nav button {display: none;}
    
    nav ul.hide {display: block;}
    
    nav ul {margin-left: 2%;}
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rbga(0,0,0,0.3);
        padding: .6rem 1rem;
    }

    * {box-sizing:border-box;}

    .grid {
        display: grid;
        grid-template-columns: 500px 500px 500px;
        grid-auto-rows: 500px 500px 500px;
        grid-gap: 25px;
    }
    
    .grid div {
        border: 1px solid rgb(0,95,107);
        border-radius:3px;
        background-color: rgba(0,95,107,0.8);
        padding: 0.2rem;
        color: #fff;
        font-size:120%;
    }

    .grid {
        max-width: 500px;
    }

} /*end large */

