* {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

table, th, td {
    width: 25%;
    border: 1px solid gray;
    border-collapse: collapse;
}

thead{
    background-color: #7fb9c2;
}

.highlight {
    background-color: #628ca6;
}

th, td {
    padding: 5px;
}