/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/

/*------------GRID----------------*/

* {box-sizing:border-box;}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    grid-auto-rows: 500px 500px 500px;
    grid-gap: 25px;
    flex-wrap:  wrap;
    align-content: space-between;
    align-items: center;
}

.grid div {
    border: 3px solid black;
    border-radius:3px;
    background-color: gray;
    padding: 0.2rem;
    color: #fff;
    font-size:120%;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#galleryimg {
    display: flex;
    align-items: center;
}


/*----------- FOOTER --------------*/
    
} /* end of media query */